<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Robots
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToBluetooth()">
        <ion-icon name="bluetooth-outline"></ion-icon>

      

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/robotcar']">
      <ion-avatar>
        <ion-img src="/assets/robotCar.jpeg"></ion-img>
      </ion-avatar>
      <ion-label>
        RobotCar
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
